{$DOMAIN} {
    tls {$EMAIL}

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        -Server
    }

    handle_path /api/* {
        reverse_proxy gateway:8000
    }

    reverse_proxy ntfy:80 {
        header_up X-Real-IP {remote_host}
    }
}